{% extends 'bunny/base.html' %}

<title>{% block title%}Home{% endblock %}</title>

{% block content %}

<div class="pt-5 px-5">
    <div>
        <p class="fs-6 fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit porro aliquid id a esse
            velit corrupti quas quibusdam rerum quia deserunt tempora provident laudantium reiciendis quasi ipsa totam,
            dolorum enim, neque vitae qui molestiae sint culpa vel. Alias, voluptas ducimus. Nam ut quasi reprehenderit
            amet porro fugiat eveniet molestias id!</p>
    </div>
    <div>
        <p class="fs-6 fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit porro aliquid id a esse
            velit corrupti quas quibusdam rerum quia deserunt tempora provident laudantium reiciendis quasi ipsa totam,
            dolorum enim, neque vitae qui molestiae sint culpa vel. Alias, voluptas ducimus. Nam ut quasi reprehenderit
            amet porro fugiat eveniet molestias id!</p>
    </div>
    <div>
        <p class="fs-6 fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit porro aliquid id a esse
            velit corrupti quas quibusdam rerum quia deserunt tempora provident laudantium reiciendis quasi ipsa totam,
            dolorum enim, neque vitae qui molestiae sint culpa vel. Alias, voluptas ducimus. Nam ut quasi reprehenderit
            amet porro fugiat eveniet molestias id!</p>
    </div>
    <div>
        <p class="fs-6 fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit porro aliquid id a esse
            velit corrupti quas quibusdam rerum quia deserunt tempora provident laudantium reiciendis quasi ipsa totam,
            dolorum enim, neque vitae qui molestiae sint culpa vel. Alias, voluptas ducimus. Nam ut quasi reprehenderit
            amet porro fugiat eveniet molestias id!</p>
    </div>
    <div>
        <p class="fs-6 fw-normal">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit porro aliquid id a esse
            velit corrupti quas quibusdam rerum quia deserunt tempora provident laudantium reiciendis quasi ipsa totam,
            dolorum enim, neque vitae qui molestiae sint culpa vel. Alias, voluptas ducimus. Nam ut quasi reprehenderit
            amet porro fugiat eveniet molestias id!</p>
    </div>
</div>



{% endblock %}